<div class="card bg-dark">
  <div class="card-header">
    <h1>Editing Tweet</h1>
  </div>
  <div class="card-body">
    <%= render 'form', tweet: @tweet %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', @tweet %> |
    <%= link_to 'Back', tweets_path %>
  </div>
</div>
