<div class="card bg-dark">
  <div class="card-header">
    <h1>New Tweet</h1>
  </div>
  <div class="card-body">
    <%= render 'form', tweet: @tweet %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', tweets_path %>
  </div>
</div>
