<div class="card">
  <div class="card-header">
    <h1>Nominations</h1>
  </div>

  <div class="card-body">
    <% @nominations.each do |nomination| %>
      <ul id="nominations" class="list-group list-group-flush">
        <%= link_to nomination_path(nomination) do %>
          <li class="list-group-item">
            <%= nomination.name %>
          </li>
          <% end %>
      </ul>
    <% end %>
  </div>

  <div class="card-footer">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light" disabled>Back to:</button>
      <button type="button" class="btn btn-light">
        <%= link_to movies_path do %>
          <i class="fa fa-film"></i>
        <% end %>
      </button>
    </div>
  </div>
</div>
